Repository encord-team/encord-client-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pylint

isort:
  name: isort_docs
  entry: poetry run isort --sp=pyproject.toml
  language: system

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

Make pylint happy
  encord/client.py
  encord/configs.py
  encord/constants/model.py
  encord/exceptions.py
  encord/http/bundle.py
  encord/http/querier.py
  encord/objects/classification.py
  encord/objects/common.py
  encord/objects/constants.py
  encord/objects/ontology_labels_impl.py
  encord/objects/ontology_object.py
  encord/objects/ontology_structure.py
  encord/orm/base_orm.py
  encord/orm/dataset.py
  encord/orm/formatter.py
  encord/orm/ontology.py
  encord/orm/project.py
  encord/user_client.py
Due: isort, pylint

Enable Pylint (#329)
  .pre-commit-config.yaml
  encord/client.py
  encord/configs.py
  encord/constants/model.py
  encord/exceptions.py
  encord/http/bundle.py
  encord/http/querier.py
  encord/objects/classification.py
  encord/objects/common.py
  encord/objects/constants.py
  encord/objects/ontology_labels_impl.py
  encord/objects/ontology_object.py
  encord/objects/ontology_structure.py
  encord/orm/base_orm.py
  encord/orm/dataset.py
  encord/orm/formatter.py
  encord/orm/ontology.py
  encord/orm/project.py
  encord/user_client.py
  poetry.lock
  pyproject.toml
Due: isort, pylint

ClassificationInstance: add missing properties (#328)
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Update readme to describe encryption key based authentication
  README.md
Due: none

minor cleanup
  README.md
Due: none

Update readme to describe encryption key based authentication (#330)
  README.md
Due: none

Fix non-backward compatible typing
  encord/client.py
  tests/test_workflow_actions.py
Due: isort, pylint

Fix non-backward compatible typing (#331)
  encord/client.py
  tests/test_workflow_actions.py
Due: isort, pylint

Add autoflake dependency and make it a part of the commit hooks
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Apply autoflake to tests
  tests/http/error_handling.py
  tests/objects/test_label_structure.py
  tests/objects/test_label_structure_converter.py
  tests/objects/test_label_structure_manual.py
  tests/objects/test_ontology.py
  tests/test_user_client.py
  tests/test_workflow_actions.py
  tests/unittest_client.py
Due: isort

Enable autoflake for code examples
  .pre-commit-config.yaml
  docs/source/code_examples/tutorials/datasets/add_private_data.py
  docs/source/code_examples/tutorials/end-to-end/saving_labels_to_project.py
Due: isort

Enable autoflake for tests (#332)
  .pre-commit-config.yaml
  docs/source/code_examples/tutorials/datasets/add_private_data.py
  docs/source/code_examples/tutorials/end-to-end/saving_labels_to_project.py
  poetry.lock
  pyproject.toml
  tests/http/error_handling.py
  tests/objects/test_label_structure.py
  tests/objects/test_label_structure_converter.py
  tests/objects/test_label_structure_manual.py
  tests/objects/test_ontology.py
  tests/test_user_client.py
  tests/test_workflow_actions.py
  tests/unittest_client.py
Due: isort

Update workflow documentation
  docs/source/tutorials/workflows.rst
Due: none

Add test
  tests/test_workflow_actions.py
Due: isort

Raise explicit error when workflow_complete called for uninitialised label
  encord/client.py
  encord/objects/ontology_labels_impl.py
  encord/orm/workflow.py
Due: isort, pylint

Add workflow_complete call
  encord/client.py
  encord/objects/ontology_labels_impl.py
  encord/orm/workflow.py
Due: isort, pylint

Update docs
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Basic bitmask support
  encord/objects/bitmask.py
  encord/objects/common.py
  encord/objects/coordinates.py
  encord/objects/ontology_labels_impl.py
  encord/utilities/image_utilities.py
  tests/objects/test_bitmask.py
Due: isort, pylint

More tests
  tests/objects/test_bitmask.py
Due: isort

Adopt new interface
  encord/objects/bitmask.py
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Add explicit to_numpy_array call
  encord/objects/bitmask.py
Due: isort, pylint

Bitmask resolution verification
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Github actions: disable integration tests for pre 3.11 python
  .github/workflows/test-sdk.yml
Due: none

Github actions: disable integration tests for pre 3.11 python (#334)
  .github/workflows/test-sdk.yml
Due: none

Bump project version to 0.1.78
  pyproject.toml
Due: none

Bump project version to 0.1.78 (#335)
  pyproject.toml
Due: none

deidentify_dicom_files new parameters
  encord/http/querier.py
  encord/objects/common.py
  encord/user_client.py
Due: isort, pylint

Update encord/user_client.py
  encord/user_client.py
Due: isort, pylint

Fix DICOM lowercase
  encord/user_client.py
Due: isort, pylint

Stricter typing
  encord/objects/common.py
Due: isort, pylint

Update encord/objects/common.py
  encord/objects/common.py
Due: isort, pylint

deidentify_dicom_files new parameters (#336)
  encord/http/querier.py
  encord/objects/common.py
  encord/user_client.py
Due: isort, pylint

Fix typo
  encord/user_client.py
Due: isort, pylint

Fix typo (#337)
  encord/user_client.py
Due: isort, pylint

Bump project version to 0.1.79
  pyproject.toml
Due: none

Bump project version to 0.1.79 (#338)
  pyproject.toml
Due: none

Ignore objects that are not found in ontology
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

ingore object answer and action answer too
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

add progress bars
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Match attributes based on type rather than enum
  encord/objects/common.py
  encord/objects/internal_helpers.py
Due: isort, pylint

Path conditions:
  isort: ((any of: ^encord/.*py$) or (any of: ^tests/.*py$)) or (any of: ^docs/source/code_examples/.*py$)
  pylint: any of: ^encord/.*
