Repository encord-team/encord-client-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pylint

isort:
  name: isort_docs
  entry: poetry run isort --sp=pyproject.toml
  language: system

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

Enable mypy for static code analysis (#386)
  .pre-commit-config.yaml
  encord/project.py
  poetry.lock
  pyproject.toml
Due: isort, pylint

Continue splitting
  encord/objects/label_row_v2.py
  encord/objects/ontology_object_instance.py
Due: isort, pylint

fixed all links for readme migration
  README.md
  docs/README.md
  docs/source/code_examples/tutorials/datasets/add_private_data.py
  docs/source/code_examples/tutorials/end-to-end/labels_v2.py
  docs/source/links.json
  docs/source/tutorials/ontologies.rst
  docs/source/tutorials/projects.rst
  docs/source/tutorials/workflows.rst
  encord/dataset.py
  encord/orm/dataset.py
Due: isort, pylint

rename
  encord/objects/classification_instance.py
  encord/objects/label_row_v2.py
  encord/objects/ontology_object_instance.py
Due: isort, pylint

Bump project version to 0.1.86
  pyproject.toml
Due: none

Bump project version to 0.1.86 (#389)
  pyproject.toml
Due: none

fixed all links for readme migration (#388)
  README.md
  docs/README.md
  docs/source/code_examples/tutorials/datasets/add_private_data.py
  docs/source/code_examples/tutorials/end-to-end/labels_v2.py
  docs/source/links.json
  docs/source/tutorials/ontologies.rst
  docs/source/tutorials/projects.rst
  docs/source/tutorials/workflows.rst
  encord/dataset.py
  encord/orm/dataset.py
Due: isort, pylint

Remove legacy import
  encord/user_client.py
Due: isort, pylint

Weird import tricks
  encord/objects/__init__.py
  encord/objects/attributes/attribute.py
  encord/objects/classification.py
  encord/objects/classification_instance.py
  encord/objects/dynamic_answer_manager.py
  encord/objects/ontology_object.py
  encord/objects/ontology_object_instance.py
Due: isort, pylint

Lock dependencies to minimal versions
  poetry.lock
Due: none

Fix pydantic v2 compatibility
  encord/http/v2/payloads.py
  encord/orm/base_dto/base_dto_pydantic_v2.py
Due: isort, pylint

Fix non backwards-compatible import
  encord/http/v2/api_client.py
Due: isort, pylint

Remove some remnants of the cord package
  encord/client.py
Due: isort, pylint

Lock dependencies to minimal versions (#390)
  encord/http/v2/api_client.py
  encord/http/v2/payloads.py
  encord/orm/base_dto/base_dto_pydantic_v2.py
  poetry.lock
Due: isort, pylint

Bump project version to 0.1.87
  pyproject.toml
Due: none

Bump project version to 0.1.87 (#392)
  pyproject.toml
Due: none

Extract base class OntologyElement into a separate file
  encord/objects/common.py
  encord/objects/internal_helpers.py
  encord/objects/ontology_element.py
Due: isort, pylint

Remove some remnants of the cord package (#391)
  encord/client.py
Due: isort, pylint

Rearrange more stuff
  encord/objects/common.py
  encord/objects/internal_helpers.py
  encord/objects/ontology_element.py
Due: isort, pylint

Fix missing import
  encord/objects/ontology_element.py
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Rollback an unneeded change
  encord/objects/common.py
  encord/objects/internal_helpers.py
Due: isort, pylint

Fix change
  encord/objects/common.py
  encord/objects/ontology_element.py
Due: isort, pylint

Fix function name
  encord/objects/ontology_element.py
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Extract base class OntologyElement into a separate file (#394)
  encord/objects/common.py
  encord/objects/internal_helpers.py
  encord/objects/ontology_element.py
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Split classification and classification instance classes to separate files
  encord/objects/__init__.py
  encord/objects/classification.py
  encord/objects/classification_instance.py
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Split object and object instance to separate files
  encord/objects/__init__.py
  encord/objects/classification_instance.py
  encord/objects/ontology_labels_impl.py
  encord/objects/ontology_object.py
  encord/objects/ontology_object_instance.py
  tests/objects/data/all_types_ontology_structure.py
  tests/objects/test_ontology.py
Due: isort, pylint

Fix test imports
  tests/objects/test_ontology.py
Due: isort

Split ontology classification and objects to separate files (#395)
  encord/objects/__init__.py
  encord/objects/classification.py
  encord/objects/classification_instance.py
  encord/objects/ontology_labels_impl.py
  encord/objects/ontology_object.py
  encord/objects/ontology_object_instance.py
  tests/objects/data/all_types_ontology_structure.py
  tests/objects/test_ontology.py
Due: isort, pylint

Deidentification custom file prefix
  encord/user_client.py
Due: isort, pylint

Expose ontology_hash and ontology_structure field in the Project class
  encord/project.py
Due: isort, pylint

Expose ontology_hash and ontology_structure field in the Project class (#397)
  encord/project.py
Due: isort, pylint

Bump project version to 0.1.88
  pyproject.toml
Due: none

Bump project version to 0.1.88 (#398)
  pyproject.toml
Due: none

Start refactoring get_label_logs
  encord/client.py
  encord/orm/label_log.py
  encord/project.py
Due: isort, pylint

Rearrange code to avoid circular imports
  encord/common/utils.py
  encord/objects/utils.py
  encord/orm/analytics.py
  encord/orm/base_dto/base_dto_pydantic_v1.py
  encord/orm/base_dto/base_dto_pydantic_v2.py
Due: isort, pylint

Update implementation of get_label_logs
  encord/client.py
  encord/orm/label_log.py
Due: isort, pylint

Add tests
  encord/client.py
  encord/orm/base_dto/base_dto_interface.py
  encord/orm/base_dto/base_dto_pydantic_v1.py
  encord/orm/base_dto/base_dto_pydantic_v2.py
  encord/orm/label_log.py
  tests/test_label_logs.py
Due: isort, pylint

Fix docstring
  encord/project.py
Due: isort, pylint

Rearrange code
  encord/objects/__init__.py
  encord/objects/constants.py
  encord/objects/ontology_labels_impl.py
  encord/objects/ontology_structure.py
  encord/ontology.py
  encord/orm/ontology.py
  encord/user_client.py
  tests/fixtures.py
  tests/objects/data/all_types_ontology_structure.py
  tests/objects/test_label_structure_converter.py
  tests/objects/test_ontology.py
  tests/test_bundled_label_operations.py
  tests/test_workflow_actions.py
Due: isort, pylint

Cleanup
  encord/objects/ontology_structure.py
  encord/orm/ontology.py
Due: isort, pylint

Path conditions:
  isort: ((any of: ^encord/.*py$) or (any of: ^tests/.*py$)) or (any of: ^docs/source/code_examples/.*py$)
  pylint: any of: ^encord/.*
