Repository encord-team/encord-client-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, pyright, pylint, mypy

autoflake:
  name: autoflake_docs
  entry: poetry run autoflake
  language: system

isort:
  name: isort_docs
  entry: poetry run isort --sp=pyproject.toml
  language: system

pyright:
  name: pyright
  entry: poetry run pyright
  language: system

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

Don't overwrite graph node and priority with None's
  encord/objects/ontology_labels_impl.py
Due: isort, pyright, pylint, mypy

Make Querier support BaseDTO
  encord/client.py
  encord/http/querier.py
  encord/http/request.py
  encord/orm/workflow.py
Due: isort, pyright, pylint, mypy

Make LabelLog class inherit BaseDTO
  encord/orm/label_log.py
Due: isort, pyright, pylint, mypy

Fix rebase artefact
  encord/http/querier.py
Due: isort, pyright, pylint, mypy

DTO: ignore extra fields
  encord/orm/base_dto/base_dto_pydantic_v1.py
  encord/orm/base_dto/base_dto_pydantic_v2.py
  encord/orm/label_log.py
Due: isort, pyright, pylint, mypy

Fix tests
  tests/objects/test_label_parsing.py
  tests/objects/test_label_structure.py
  tests/objects/test_label_structure_converter.py
  tests/test_bundled_label_operations.py
Due: autoflake, isort

Silence typing warnings
  encord/http/v2/api_client.py
Due: isort, pyright, pylint, mypy

Extract v2 api calls to EncordClient
  encord/client.py
  encord/objects/ontology_labels_impl.py
  encord/orm/project.py
  encord/project.py
  encord/user_client.py
Due: isort, pyright, pylint, mypy

Revert "Fix tests"
  tests/objects/test_label_parsing.py
  tests/objects/test_label_structure.py
  tests/objects/test_label_structure_converter.py
  tests/test_bundled_label_operations.py
Due: autoflake, isort

Strip bundle function param, as it is not yet implemented
  encord/objects/ontology_labels_impl.py
Due: isort, pyright, pylint, mypy

Workflow priorities (#465)
  encord/client.py
  encord/http/v2/api_client.py
  encord/http/v2/request_signer.py
  encord/objects/ontology_labels_impl.py
  encord/orm/project.py
  encord/project.py
  encord/user_client.py
Due: isort, pyright, pylint, mypy

Bump project version to 0.1.99
  pyproject.toml
Due: none

Bump project version to 0.1.99 (#466)
  pyproject.toml
Due: none

Update build tools
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Update build tools
  poetry.lock
  pyproject.toml
Due: none

Remove pyright from pre-commit, as it works unstable
  .pre-commit-config.yaml
Due: none

Update build tools (#467)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Silence some type warnings
  encord/client.py
Due: isort, pyright, pylint, mypy

Update docs
  encord/orm/label_log.py
Due: isort, pyright, pylint, mypy

Support pydantic-based DTOs in querier (#468)
  encord/client.py
  encord/http/querier.py
  encord/http/request.py
  encord/orm/base_dto/base_dto_pydantic_v1.py
  encord/orm/base_dto/base_dto_pydantic_v2.py
  encord/orm/label_log.py
  encord/orm/workflow.py
Due: isort, pyright, pylint, mypy

Provide signed urls in LabelRowV2
  encord/objects/ontology_labels_impl.py
Due: isort, pyright, pylint, mypy

Provide signed urls in LabelRowV2 (#469)
  encord/objects/ontology_labels_impl.py
Due: isort, pyright, pylint, mypy

Add Option.add_nested_attribute method and deprecate .add_nested_option method
  encord/objects/options.py
  tests/objects/test_ontology.py
Due: autoflake, isort, pyright, pylint, mypy

Add Option.add_nested_attribute method and deprecate .add_nested_option method (#470)
  encord/objects/options.py
  tests/objects/test_ontology.py
Due: autoflake, isort, pyright, pylint, mypy

Remove note about video support for CVAT (#464)
  docs/source/tutorials/projects.rst
Due: none

Updating ruff to 0.1.7, and applying it to the codebase
  .pre-commit-config.yaml
  encord/objects/ontology_labels_impl.py
Due: isort, pyright, pylint, mypy

Updating ruff to 0.1.7, and applying it to the codebase (#472)
  .pre-commit-config.yaml
  encord/objects/ontology_labels_impl.py
Due: isort, pyright, pylint, mypy

Bump project version to 0.1.100
  pyproject.toml
Due: none

Bump project version to 0.1.100 (#473)
  pyproject.toml
Due: none

Get label rows coco
  encord/client.py
  encord/orm/project.py
  encord/project.py
Due: isort, pyright, pylint, mypy

Querier: Make all get and get_multiple requests retryable
  encord/http/querier.py
Due: isort, pyright, pylint, mypy

Use 3.7 Optional
  encord/orm/project.py
Due: isort, pyright, pylint, mypy

Querier: Make all get and get_multiple requests retryable by default (#474)
  encord/http/querier.py
Due: isort, pyright, pylint, mypy

Bump project version to 0.1.101
  pyproject.toml
Due: none

Bump project version to 0.1.101 (#475)
  pyproject.toml
Due: none

Allow user to provide a mapping function to adapt file names to CVAT image names if necessary
  encord/user_client.py
  encord/utilities/client_utilities.py
Due: isort, pyright, pylint, mypy

Allow user to provide a mapping function to adapt file names to CVAT image names if necessary (#476)
  encord/user_client.py
  encord/utilities/client_utilities.py
Due: isort, pyright, pylint, mypy

Path conditions:
  autoflake: (any of: ^tests/.*) or (any of: ^docs/source/code_examples/.*)
  isort: ((any of: ^encord/.*py$) or (any of: ^tests/.*py$)) or (any of: ^docs/source/code_examples/.*py$)
  pyright: any of: ^encord/.*py$
  pylint: any of: ^encord/.*
  mypy: any of: ^encord/.*py$
