Repository encord-team/encord-client-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pylint

isort:
  name: isort_docs
  entry: poetry run isort --sp=pyproject.toml
  language: system

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

Make BitmaskCoordinates class constructible with usual constructor (#353)
  docs/source/code_examples/tutorials/bitmasks/bitmask-upload-example.py
  encord/objects/bitmask.py
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Support bitmasks #DEV-2540 (#333)
  docs/source/code_examples/tutorials/bitmasks/bitmask-download-example.py
  docs/source/code_examples/tutorials/bitmasks/bitmask-upload-example.py
  docs/source/index.rst
  docs/source/tutorials/bitmasks.rst
  encord/objects/bitmask.py
  encord/objects/common.py
  encord/objects/coordinates.py
  encord/objects/ontology_labels_impl.py
  tests/objects/test_bitmask.py
Due: isort, pylint

Bump project version to 0.1.80
  pyproject.toml
Due: none

Bump project version to 0.1.80 (#354)
  pyproject.toml
Due: none

Fix Project.label_rows property
  encord/client.py
  encord/project.py
Due: isort, pylint

Add tests
  tests/test_project.py
Due: isort

Rollback removed PropertyType enum
  encord/objects/common.py
Due: isort, pylint

Fix Project.label_rows property (#355)
  encord/client.py
  encord/project.py
  tests/test_project.py
Due: isort, pylint

Rollback removed PropertyType enum (#356)
  encord/objects/common.py
Due: isort, pylint

upd
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Bump project version to 0.1.81
  pyproject.toml
Due: none

Bump project version to 0.1.81 (#357)
  pyproject.toml
Due: none

Ignore missing classifications in ontology too
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Change the cryptography dependency version requirements to allow major version change
  poetry.lock
  pyproject.toml
Due: none

Change the cryptography dependency version requirements to allow major version changes (#358)
  poetry.lock
  pyproject.toml
Due: none

encord
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Fix handling for deleted radio classifications (#359)
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Bump project version to 0.1.82
  pyproject.toml
Due: none

Bump project version to 0.1.82 (#360)
  pyproject.toml
Due: none

Add basic support
  encord/user_client.py
Due: isort, pylint

Update encord/user_client.py
  encord/user_client.py
Due: isort, pylint

Basic workflow template support (#361)
  encord/user_client.py
Due: isort, pylint

Provide stricter typing for Answer class hierarchy
  encord/objects/internal_helpers.py
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Fix exception timestamp type in exception context
  encord/exceptions.py
Due: isort, pylint

Fix handling for deleted radio classifications for frame
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Fix handling for deleted radio classifications for frame (#364)
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Fix enum typings
  encord/constants/enums.py
  encord/orm/dataset.py
  encord/orm/label_row.py
  encord/orm/project.py
Due: isort, pylint

Add asserts to show mypy that a variable is guaranteed to be non none
  encord/objects/internal_helpers.py
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

minor fix
  encord/configs.py
Due: isort, pylint

Fix a few implicit optionals
  encord/objects/ontology_labels_impl.py
  encord/project.py
Due: isort, pylint

Improve typing annotations for Answer classes (#350)
  encord/objects/internal_helpers.py
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Address pr comment
  encord/orm/dataset.py
Due: isort, pylint

Rollback data storage enum change
  encord/orm/dataset.py
Due: isort, pylint

Fix more type annotations (#363)
  encord/configs.py
  encord/constants/enums.py
  encord/exceptions.py
  encord/objects/internal_helpers.py
  encord/objects/ontology_labels_impl.py
  encord/orm/dataset.py
  encord/orm/label_row.py
  encord/orm/project.py
  encord/project.py
Due: isort, pylint

Bump project version to 0.1.83
  pyproject.toml
Due: none

Bump project version to 0.1.83 (#365)
  pyproject.toml
Due: none

added info on workflow templates
  docs/source/tutorials/projects.rst
  docs/source/tutorials/workflows.rst
Due: none

implemented feedback
  docs/source/tutorials/projects.rst
  docs/source/tutorials/workflows.rst
Due: none

added info on workflow templates (#366)
  docs/source/tutorials/projects.rst
  docs/source/tutorials/workflows.rst
Due: none

Expose project collaborators timers
  encord/http/common.py
  encord/http/querier.py
  encord/http/v2/__init__.py
  encord/http/v2/api_client.py
  encord/http/v2/payloads.py
  encord/http/v2/request_signer.py
  encord/objects/analytics.py
  encord/project.py
  encord/user_client.py
  tests/fixtures.py
  tests/test_analytics.py
Due: isort, pylint

Path conditions:
  isort: ((any of: ^encord/.*py$) or (any of: ^tests/.*py$)) or (any of: ^docs/source/code_examples/.*py$)
  pylint: any of: ^encord/.*
