Repository encord-team/encord-client-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black --config=pyproject.toml
        types_or: [ python, pyi ]
        language: system
        files: ^encord/.*
      - id: black
        name: black_tests
        entry: poetry run black --config=pyproject.toml
        types_or: [ python, pyi ]
        language: system
        files: ^tests/.*
      - id: black
        name: black_docs
        entry: poetry run black --config=docs/source/code_examples/pyproject.toml
        types_or: [ python, pyi ]
        language: system
        files: ^docs/source/code_examples/.*
      - id: isort
        name: isort
        entry: poetry run isort --sp=pyproject.toml
        language: system
        files: ^encord/.*py$
      - id: isort
        name: isort_tests
        entry: poetry run isort --sp=pyproject.toml
        language: system
        files: ^tests/.*py$
      - id: isort
        name: isort_docs
        entry: poetry run isort --sp=pyproject.toml
        language: system
        files: ^docs/source/code_examples/.*py$
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        files: ^encord/.*

Replace a star import with explicit import in client
  encord/client.py
Due: isort, pylint

Replace a star import with explicit import in utilities
  encord/utilities/label_utilities.py
Due: isort, pylint

Expand star imports (#424)
  encord/client.py
  encord/utilities/label_utilities.py
Due: isort, pylint

Fix minor typing issue
  encord/utilities/label_utilities.py
Due: isort, pylint

Add more type hints (#425)
  encord/utilities/label_utilities.py
Due: isort, pylint

Revert connect timeout value change
  encord/configs.py
Due: isort, pylint

Revert connect timeout value change (#426)
  encord/configs.py
Due: isort, pylint

Bump project version to 0.1.92
  pyproject.toml
Due: none

Bump project version to 0.1.92 (#427)
  pyproject.toml
Due: none

split reading and writing labels into separate sections
  docs/source/code_examples/tutorials/end-to-end/labels_v2.py
Due: isort

changed downloading labels to exporting labels
  docs/source/code_examples/tutorials/end-to-end/labels_v2.py
Due: isort

split reading and writing labels into separate sections (#428)
  docs/source/code_examples/tutorials/end-to-end/labels_v2.py
Due: isort

Move dev-only dependency to the dev dependencies section
  poetry.lock
  pyproject.toml
Due: none

Move dev-only dependency to the dev dependencies section (#429)
  poetry.lock
  pyproject.toml
Due: none

Add additional type ignore
  encord/http/querier.py
Due: isort, pylint

Add pyright check
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Update mypy to 1.5.1
  poetry.lock
  pyproject.toml
Due: none

Update code checkers (#430)
  .pre-commit-config.yaml
  encord/http/querier.py
  poetry.lock
  pyproject.toml
Due: isort, pylint

Fix checkbox answer parsing
  encord/objects/ontology_object_instance.py
  tests/objects/data/video_with_dynamic_classifications_ui_constructed.py
  tests/objects/test_label_structure_converter.py
Due: isort, pylint

Fix checkbox answers parsing (#432)
  encord/objects/ontology_object_instance.py
  tests/objects/data/video_with_dynamic_classifications_ui_constructed.py
  tests/objects/test_label_structure_converter.py
Due: isort, pylint

Bump project version to 0.1.93
  pyproject.toml
Due: none

Bump project version to 0.1.93 (#433)
  pyproject.toml
Due: none

Setting pyright test to happen before others
  .pre-commit-config.yaml
Due: none

Setting pyright test to happen before others (#434)
  .pre-commit-config.yaml
Due: none

Fix mismatch between sdk and service api
  encord/client.py
  encord/orm/label_log.py
Due: isort, pylint

fix tests
  tests/test_label_logs.py
Due: isort

Label logs query: fix mismatch between sdk and service api in time filter params (#435)
  encord/client.py
  encord/orm/label_log.py
  tests/test_label_logs.py
Due: isort, pylint

Bump project version to 0.1.94
  pyproject.toml
Due: none

Bump project version to 0.1.94 (#436)
  pyproject.toml
Due: none

Add deprecated annotation to log warning for long-deprecated project ontology accessor methods
  encord/project.py
Due: isort, pylint

Mark project.get_label_rows deprecated too
  encord/project.py
Due: isort, pylint

Fix typo
  encord/project.py
Due: isort, pylint

Rollback non-ontology deprecations
  encord/project.py
Due: isort, pylint

Add deprecated annotation to log warning for long-deprecated project ontology accessor methods (#437)
  encord/project.py
Due: isort, pylint

Update building toolchain versions
  poetry.lock
  pyproject.toml
Due: none

Fix newly found issues
  encord/http/error_utils.py
  encord/objects/bitmask.py
  encord/objects/internal_helpers.py
Due: isort, pylint

Remove unused dependency
  poetry.lock
  pyproject.toml
Due: none

Update building toolchain (#438)
  encord/http/error_utils.py
  encord/objects/bitmask.py
  encord/objects/internal_helpers.py
  poetry.lock
  pyproject.toml
Due: isort, pylint

Use "poetry run" to run unit tests
  .github/actions/run-unit-tests/action.yml
  .github/workflows/sdk-pr.yml
Due: none

Use "poetry run" to run unit tests (#440)
  .github/actions/run-unit-tests/action.yml
  .github/workflows/sdk-pr.yml
Due: none
