Repository encord-team/encord-client-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black --config=pyproject.toml
        types_or: [ python, pyi ]
        language: system
        files: ^encord/.*
      - id: black
        name: black_tests
        entry: poetry run black --config=pyproject.toml
        types_or: [ python, pyi ]
        language: system
        files: ^tests/.*
      - id: black
        name: black_docs
        entry: poetry run black --config=docs/source/code_examples/pyproject.toml
        types_or: [ python, pyi ]
        language: system
        files: ^docs/source/code_examples/.*
      - id: isort
        name: isort
        entry: poetry run isort --sp=pyproject.toml
        language: system
        files: ^encord/.*py$
      - id: isort
        name: isort_tests
        entry: poetry run isort --sp=pyproject.toml
        language: system
        files: ^tests/.*py$
      - id: isort
        name: isort_docs
        entry: poetry run isort --sp=pyproject.toml
        language: system
        files: ^docs/source/code_examples/.*py$
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        files: ^encord/.*

Fix imports
  encord/objects/ontology_labels_impl.py
  encord/objects/ontology_structure.py
  encord/orm/ontology.py
Due: isort, pylint

Fix more imports
  encord/objects/ontology_labels_impl.py
  encord/project.py
Due: isort, pylint

Revert test import changes
  encord/ontology.py
  tests/objects/test_ontology.py
Due: isort, pylint

Fix test fixture import
  tests/test_label_logs.py
Due: isort

Better var name
  encord/user_client.py
Due: isort, pylint

Deidentification custom file prefix - SDK (#396)
  encord/user_client.py
Due: isort, pylint

Bump project version to 0.1.89
  pyproject.toml
Due: none

Bump project version to 0.1.89 (#401)
  pyproject.toml
Due: none

Add datetime filter to project.get_label_logs (#399)
  encord/client.py
  encord/common/utils.py
  encord/objects/utils.py
  encord/orm/analytics.py
  encord/orm/base_dto/base_dto_interface.py
  encord/orm/base_dto/base_dto_pydantic_v1.py
  encord/orm/base_dto/base_dto_pydantic_v2.py
  encord/orm/label_log.py
  encord/project.py
  tests/test_label_logs.py
Due: isort, pylint

PR comments: re-introducing backward compatible imports
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Split ontology to separate files (#400)
  encord/objects/__init__.py
  encord/objects/constants.py
  encord/objects/ontology_labels_impl.py
  encord/objects/ontology_structure.py
  encord/ontology.py
  encord/orm/ontology.py
  encord/project.py
  encord/user_client.py
  tests/fixtures.py
  tests/objects/data/all_types_ontology_structure.py
  tests/objects/test_label_structure_converter.py
  tests/objects/test_ontology.py
  tests/test_bundled_label_operations.py
  tests/test_workflow_actions.py
Due: isort, pylint

Correct import for Retry
  encord/http/querier.py
Due: isort, pylint

Correct import for requests Retry (#402)
  encord/http/querier.py
Due: isort, pylint

Move all tests to separate folder to not to pollute the module itself
  encord/orm/test/__init__.py
  encord/orm/test/test_dataset.py
  tests/constants/__init__.py
  tests/constants/test_enums.py
  tests/orm/test_dataset.py
Due: isort, pylint

Move all tests to separate folder to not to pollute the module itself
  encord/orm/dataset.py
  tests/orm/test_dataset.py
Due: isort, pylint

Move all tests to the tests folder (#403)
  encord/orm/dataset.py
  encord/orm/test/__init__.py
  encord/orm/test/test_dataset.py
  tests/constants/__init__.py
  tests/constants/test_enums.py
  tests/orm/test_dataset.py
Due: isort, pylint

Add openai api reviewer
  .github/workflows/sdk-pr.yml
Due: none

Add review action name
  .github/workflows/sdk-pr.yml
Due: none

Update reviewer version
  .github/workflows/sdk-pr.yml
Due: none

Add openai api reviewer (#404)
  .github/workflows/sdk-pr.yml
Due: none

Fix typo in ApiClientV2
  encord/http/v2/api_client.py
Due: isort, pylint

Fix typo in ApiClientV2 (#405)
  encord/http/v2/api_client.py
Due: isort, pylint

Fix the bitmask example
  docs/source/code_examples/tutorials/bitmasks/bitmask-download-example.py
Due: isort

Address comments
  docs/source/code_examples/tutorials/bitmasks/bitmask-download-example.py
Due: isort

Fix the bitmask example (#406)
  docs/source/code_examples/tutorials/bitmasks/bitmask-download-example.py
Due: isort

Split Answers classes to a separate file
  encord/objects/answers.py
  encord/objects/classification_instance.py
  encord/objects/internal_helpers.py
  encord/objects/ontology_object_instance.py
Due: isort, pylint

Add user_email filter to label logs
  encord/client.py
  encord/orm/label_log.py
  encord/project.py
Due: isort, pylint

Split Answers classes to a separate file (#407)
  encord/objects/answers.py
  encord/objects/classification_instance.py
  encord/objects/internal_helpers.py
  encord/objects/ontology_object_instance.py
Due: isort, pylint

Add private key path option for create_with_ssh_private_key
  encord/user_client.py
Due: isort, pylint

Add private key path option for create_with_ssh_private_key (#410)
  encord/user_client.py
Due: isort, pylint

Split options and attributes to separate files
  encord/objects/__init__.py
  encord/objects/answers.py
  encord/objects/attributes.py
  encord/objects/classification.py
  encord/objects/classification_instance.py
  encord/objects/common.py
  encord/objects/internal_helpers.py
  encord/objects/ontology_element.py
  encord/objects/ontology_labels_impl.py
  encord/objects/ontology_object.py
  encord/objects/ontology_object_instance.py
  encord/objects/options.py
Due: isort, pylint

Update docs
  docs/source/code_examples/tutorials/end-to-end/labels_v2.py
Due: isort

Update tests
  tests/objects/data/all_types_ontology_structure.py
  tests/objects/test_label_structure.py
  tests/objects/test_ontology.py
Due: isort

Cleanup
  encord/objects/common.py
Due: isort, pylint

Move all nested id related functions together
  encord/objects/attributes.py
  encord/objects/ontology_element.py
  encord/objects/options.py
  encord/objects/utils.py
Due: isort, pylint

Move all nested id related functions together
  encord/objects/attributes.py
  encord/objects/common.py
  encord/objects/ontology_element.py
Due: isort, pylint

Split attributes and options classes to the separate files (#411)
  docs/source/code_examples/tutorials/end-to-end/labels_v2.py
  encord/objects/__init__.py
  encord/objects/answers.py
  encord/objects/attributes.py
  encord/objects/classification.py
  encord/objects/classification_instance.py
  encord/objects/common.py
  encord/objects/internal_helpers.py
  encord/objects/ontology_element.py
  encord/objects/ontology_labels_impl.py
  encord/objects/ontology_object.py
  encord/objects/ontology_object_instance.py
  encord/objects/options.py
  encord/objects/utils.py
  tests/objects/data/all_types_ontology_structure.py
  tests/objects/test_label_structure.py
  tests/objects/test_ontology.py
Due: isort, pylint

Cleanup more type errors
  encord/client.py
  encord/configs.py
  encord/http/error_utils.py
  encord/objects/attributes.py
  encord/objects/frames.py
  encord/objects/ontology_element.py
  encord/objects/options.py
  encord/orm/base_orm.py
  encord/user_client.py
  encord/utilities/client_utilities.py
Due: isort, pylint

Remove unneeded trackhash param
  encord/objects/ontology_object_instance.py
Due: isort, pylint

Remove incorrect type from querier
  encord/http/querier.py
Due: isort, pylint
