Repository encord-team/encord-client-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black --config=pyproject.toml
        types_or: [ python, pyi ]
        language: system
        files: ^encord/.*
      - id: black
        name: black_tests
        entry: poetry run black --config=pyproject.toml
        types_or: [ python, pyi ]
        language: system
        files: ^tests/.*
      - id: black
        name: black_docs
        entry: poetry run black --config=docs/source/code_examples/pyproject.toml
        types_or: [ python, pyi ]
        language: system
        files: ^docs/source/code_examples/.*
      - id: isort
        name: isort
        entry: poetry run isort --sp=pyproject.toml
        language: system
        files: ^encord/.*py$
      - id: isort
        name: isort_tests
        entry: poetry run isort --sp=pyproject.toml
        language: system
        files: ^tests/.*py$
      - id: isort
        name: isort_docs
        entry: poetry run isort --sp=pyproject.toml
        language: system
        files: ^docs/source/code_examples/.*py$
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        files: ^encord/.*

Support DICOM metadata in LabelRowV2
  encord/objects/metadata.py
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Default metadata to None
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Add unit test
  tests/objects/data/dicom_labels_with_metadata.py
  tests/objects/test_label_parsing.py
Due: isort

Make sure that metadta info gets dropped on reinitialising
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Update naming
  encord/objects/metadata.py
  encord/objects/ontology_labels_impl.py
Due: isort, pylint

Update naming
  encord/objects/__init__.py
  encord/objects/metadata.py
  encord/objects/ontology_labels_impl.py
  tests/objects/test_label_parsing.py
Due: isort, pylint

Update naming in docs
  encord/objects/metadata.py
Due: isort, pylint

EC-298: Support DICOM metadata in LabelRowV2 (#439)
  encord/objects/__init__.py
  encord/objects/metadata.py
  encord/objects/ontology_labels_impl.py
  tests/objects/data/dicom_labels_with_metadata.py
  tests/objects/test_label_parsing.py
Due: isort, pylint

Fix checklist parsing: answers are grouped correctly with single-frame ranges
  encord/objects/ontology_object_instance.py
  tests/objects/test_label_parsing.py
Due: isort, pylint

Bump project version to 0.1.95
  pyproject.toml
Due: none

Fix checklist parsing: answers are grouped correctly with single-frame ranges (#441)
  encord/objects/ontology_object_instance.py
  tests/objects/test_label_parsing.py
Due: isort, pylint

Bump project version to 0.1.95 (#442)
  pyproject.toml
Due: none

Fix integration tests action usage
  .github/workflows/test-sdk.yml
Due: none

Fix integration tests (#431)
  .github/workflows/test-sdk.yml
Due: none

updated reference from fetch to refetch_data
  encord/orm/dataset.py
Due: isort, pylint

changed another instance of fetch to refetch
  encord/orm/dataset.py
Due: isort, pylint

updated in response to feedback
  encord/orm/dataset.py
Due: isort, pylint

Update DataRow docstrings to correct cross references (#443)
  encord/orm/dataset.py
Due: isort, pylint

updated minor version for release
  pyproject.toml
Due: none

updated minor version for release (#444)
  pyproject.toml
Due: none

fix: adds image hash field to image
  encord/orm/dataset.py
Due: isort, pylint

fix: adds image hash field to image (#445)
  encord/orm/dataset.py
Due: isort, pylint

Bump project version to 0.1.97
  pyproject.toml
Due: none

Bump project version to 0.1.97 (#446)
  pyproject.toml
Due: none

Long polling more time to recover
  encord/client.py
Due: isort, pylint

Add @deprecated annotation to UserClient .get_dataset_client and .get_project_client methods
  encord/user_client.py
Due: isort, pylint

More explicit deprecations
  encord/orm/dataset.py
Due: isort, pylint

Long polling more time to recover (#447)
  encord/client.py
Due: isort, pylint

Explicitly deprecate some older methods (#448)
  encord/orm/dataset.py
  encord/user_client.py
Due: isort, pylint

Minor code cleanup
  encord/objects/ontology_labels_impl.py
  encord/project.py
  encord/user_client.py
Due: isort, pylint

Minor code cleanup (#449)
  encord/objects/ontology_labels_impl.py
  encord/project.py
  encord/user_client.py
Due: isort, pylint

Updates to User client
  docs/source/general_concepts.rst
  docs/source/tutorials/projects.rst
  encord/user_client.py
Due: isort, pylint

Updates to User client (#451)
  docs/source/general_concepts.rst
  docs/source/tutorials/projects.rst
  encord/user_client.py
Due: isort, pylint

Make timeouts part of RequestsSettings struct
  encord/configs.py
  encord/http/constants.py
  encord/http/querier.py
  encord/http/utils.py
  encord/http/v2/api_client.py
  tests/fixtures.py
  tests/http/timeout_overrides_setting.py
Due: isort, pylint

Dynamic datasets minimal feature
  encord/client.py
  encord/dataset.py
  encord/orm/dataset.py
  encord/user_client.py
Due: isort, pylint

Fix tests
  encord/orm/dataset.py
  tests/orm/test_create_dataset_response.py
  tests/orm/test_dataset.py
Due: isort, pylint

Update encord/orm/dataset.py
  encord/orm/dataset.py
Due: isort, pylint

The AI suggestion wasn't quite right...
  encord/orm/dataset.py
Due: isort, pylint

Explicitly ask for the new response shape
  encord/user_client.py
Due: isort, pylint

Dynamic datasets minimal feature (#452)
  encord/client.py
  encord/dataset.py
  encord/orm/dataset.py
  encord/user_client.py
  tests/orm/test_create_dataset_response.py
  tests/orm/test_dataset.py
Due: isort, pylint
